asgiref==3.12.1
Django==5.1.15
django-cors-headers==4.9.0
djangorestframework==3.17.2
joblib==1.6.0
numpy==2.4.6
pandas==3.0.6
pillow==12.3.0
psycopg2-binary==2.9.13
python-dotenv==1.2.3
scikit-learn==1.9.1
sqlparse==0.6.0
